<div class="container py-5">
	<div class="card col-md-12">
	  <div class="card-body">
	  	<input class="chatInput col-md-8" type="text" name="msg" [(ngModel)]="chat.msg"  placeholder="What's in your mind?">
		<button class="ml-1 col-md-3 btn btn-success" (click)="onMsgSubmit()">
			Post
		</button>
	  </div>
	</div>

	<!-- Chats list goes here -->
	<div class="list-group messageList">
	    <a  class="list-group-item" *ngFor="let chat of allChats" style="max-height: 90px !important;">
	      	<h5 class="list-group-item-heading">
	      	{{chat.msg}}
	  		</h5>
	      	<p class="list-group-item-text">
		    {{chat.userName}} on 
		    <small>{{chat.crAt|date:"medium"}}</small>
		  	</p>
	    </a>
	    
	  </div>
</div>

